<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{account}}/{{repository}}</title>

    <style>
      body {
        box-sizing: border-box;
        margin: 1rem;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        background: white;
        color: black;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
      }

      @media (min-width: 768px) {
        body {
          margin-top: 2rem;
          margin-bottom: 2rem;
        }
      }

      #wrap {
        display: flex;
        align-items: center;
        height: 100%;
      }

      main {
        width: 30rem;
        margin: 0 auto;
      }

      header {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        margin-bottom: 2.5rem;
      }

      #release {
        flex-grow: 1;
      }

      #repo {
        font-weight: 800;
      }

      #date {
        color: gray;
      }

      .item {
        display: flex;
        align-items: end;
        justify-content: space-between;
      }

      .item:not(:last-of-type) {
        margin-bottom: 1rem;
      }

      .item a {
        color: #ff6600;
        text-decoration: none;
      }

      .item a:hover {
        text-decoration: underline;
      }

      .fileType {
        font-weight: 600;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
      }

      .url {
        font-weight: 400;
      }

      .size {
        color: #404040;
        white-space: nowrap;
      }

      footer {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }

      footer > * {
        margin-top: 2.5rem;
      }

      footer a {
        color: gray;
        text-decoration: none;
      }

      footer a:hover {
        text-decoration: underline;
      }

      #version {
        margin-right: 0.5rem;
        padding: 0.25rem 0.5rem;
        border-radius: 0.5rem;
        background: black;
        color: white;
      }

      #release-notes {
        font-weight: 600;
        color: white;
      }

      #all-releases {
        text-align: center;
        flex-grow: 1;
      }

    </style>
  </head>

  <body>
    <div id="wrap">
      <main>
          <header>
            <div id="release">{{account}}/<span id="repo">{{repository}}</span></div>
            <div id="date">{{date}}</div>
          </header>

          <div id="list">
            {{#each files}}
              <div class="item">
                <div class="fileType">
                  <div>{{this.platform}}</div>
                  <div class="url">
                    <a href={{this.url}}>{{this.filename}}</a>
                  </div>
                </div>
                <div class="size">{{this.size}} MB</div>
              </div>
            {{/each}}
          </div>

          <footer>
            <div id="version">{{version}}</div>
            <a id="release-notes" href={{releaseNotes}}>Release Notes</a>
            <a id="all-releases" href={{allReleases}}>All Releases</a>
            <a href={{github}}>GitHub</a>
          </footer>
      </main>
    </div>
  </body>
</html>
